<div class="row">
  <div class="col-12 md:col-8 md:mx-auto">
    <p-card header="TODO LIST">
      <p class="mb-4">
          Prueba tecnica de todo list
      </p>


      <app-tasks-table [tasks]="tasks"
      (createTaskEvent)="createTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
      (editTaskEvent)="editTask($event)"
      (filterTaskEvent)="filterTask($event)"></app-tasks-table>

    <ng-template pTemplate="footer">

      {{remainingTasks}} remaining tasks

    </ng-template>

    </p-card>

    <p-toast></p-toast>



  </div>
</div>

