<p-toolbar styleClass="mb-4 gap-2">
  <div>
    <form [formGroup]="taskForm" class="flex">
      <div class="flex flex-column">
        <input
        pInputText
        type="text"
        name="name"
        formControlName="name"
        placeholder="Task Name"
        class="mr-2"
      />
      @if (tasksForm['name'].invalid && isSubmitted) {
        <small class="p-error">
          Name is required
        </small>
      }
      </div>

      <div class="flex flex-column">
        <input
        pInputText
        type="text"
        name="description"
        formControlName="description"
        placeholder="Task Description"
        class="mr-2"
      />
      @if (tasksForm['description'].invalid && isSubmitted) {
        <small class="p-error">
          Description is required
        </small>
      }
      </div>


      <button
        pButton
        pRipple
        name="save"
        icon="pi pi-save"
        class="p-button-rounded p-button-success mr-2"
        (click)="createTask()"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-trash"
        name="discard"
        class="p-button-rounded p-button-warning"
        (click)="discardCreateTask()"
      ></button>
    </form>
  </div>
</p-toolbar>

<p-table
  [value]="tasks"
  dataKey="id"
  editMode="row"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <p-dropdown
          [options]="filterOptions"
          [(ngModel)]="selectedOption"
          optionLabel="name"
          placeholder="Select a filter Option"
          (onChange)="filterTask($event)"
        ></p-dropdown>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">description</th>
      <th style="width: 25%">Completed</th>
      <th style="width: 25%">Actions</th>
    </tr>
  </ng-template>

  <ng-template
    pTemplate="body"
    let-task
    let-editing="editing"
    let-ri="rowIndex"
  >
    <tr [pEditableRow]="task" [class]="{ 'completed-task': task.completed }">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text"  [(ngModel)]="task.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ task.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              name="descriptionEditable"
              [(ngModel)]="task.description"
              required
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ task.description }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-inputSwitch
          [(ngModel)]="task.completed"
          (onChange)="editTask(task)"
          name="switch"
        ></p-inputSwitch>
      </td>
      <td>
        <div class="flex align-items-center justify-content-start gap-2">
          @if (!editing) {
          <button
            pButton
            pRipple
            type="button"
            pInitEditableRow
            name="editInline"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
          ></button>
          }@else {
          <button
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            name="saveInline"
            icon="pi pi-check"
            class="p-button-rounded p-button-text p-button-success mr-2"
            (click)="editTask(task)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            name="cancelInline"
            icon="pi pi-times"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>

          }

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            name="deleteInline"
            (click)="deleteTask(task.id)"
            class="p-button-rounded p-button-text p-button-danger delete-button"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
